### compare sysl to tla+ 

### compare sysl to c4 model

### consider whether AWeSOMe modelling is relevant

### what is the data model that drives sysl

### what are all the commands that sysl can run?



